@import './scss/variables';

@font-face {
    font-family: 'roboto';
    src: url('./fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'elsie';
    src: url('./fonts/Elsie-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.App {
    display: flex;
    flex-direction: column;

    nav {
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid grey;
        font-family: 'roboto';

        .logo {
            width: 40px;
            cursor: pointer;

            @media(max-width: 420px) {
                display: none;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 10%;

            @media (max-width: 500px) {
                gap: 5%;
            }

            @media (max-width: 400px) {
                gap: 10px;
            }

            li {
                color: #fff;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 18px;
                cursor: pointer;
                transition: .5s;

                .nav-main {
                    color: $pRed;
                }
            }

            li:hover {
                color: $pRed;
            }
        }

        .nav-cv {
            width: 150px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $pRed;
            border: 1px solid $pRed;
            border-radius: 10px;

            @media (max-width: 650px) {
                display: none;
            }
        }
    }

    .main {
        width: 100%;
        height: 100vh;
        background: url('./images/spirit.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .main::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(38, 38, 38, 0.633);
    }
}